<!DOCTYPE html>
<html 4email>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body class="vsc-initialized" data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.1080.0">
    <p>Hi everyone!</p>

    <p>Hope you all had a nice week!
        <br /><br />
        I have some quick couple announcements to make.
        <br />
        <hr />
    <h3>
        <span style="color:#B22222;"><span style="font-size:large;"><strong>Fireworks and laser light shows
                    after practice!!</strong></span></span></p>
    </h3>
    <p>Firstly, after today's practice at <b>Helen Newman Hall (7:30 - 9:00 pm)</b>, we will be heading to the
        <b>Fireworks and
            laser light show at Schoellkopf field</b> for the Homecoming. What would be a better way to start a
        weekend than one
        with
        some
        <mark>Wushu and Fireworks?</mark><br /><br />
        If you haven't attended the fireworks event at homecoming the in past years, it's not worth missing.
        Homecoming
        events
        are fun,
        so please come
        even if you can't make it to the practice.
    </p>
    <h3>
        <span style="color:#B22222;"><span style="font-size:large;"><strong>No practice tomorrow (Saturday
                    09/24). Optional practice on Sunday.</strong></span></span></p>
    </h3>
    <p>
        Unfortunately, this week's Saturday practice is cancelled. We will instead have an optional practice on
        Sunday (time
        and place TBD.)
    </p>
    <hr />
    <iframe
        src="https://docs.google.com/document/d/e/2PACX-1vTe145hXEwBMo7PymCtHm1CzFYbP40Wlv3Zy2mTMCrfhaAkuBu_K0-jzNC5Mt36rDKneiP3riJmDetr/pub?embedded=true"></iframe>
    <p>Our most up-to-date announcements can be found in our Facebook Announcements group chat. If you are not already
        in it, please message&nbsp;<a
            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/kenton.wu.56&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw1qkWYRH6LJ0FY0jI8Cl2Eb"
            href="https://www.facebook.com/kenton.wu.56" target="_blank">Kenton&nbsp;</a>or&nbsp;<a
            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/etemfa.chen&amp;source=gmail&amp;ust=1663186673708000&amp;usg=AOvVaw06w648HyO-BFQC4APTfSCQ"
            href="https://www.facebook.com/etemfa.chen" target="_blank">Ethan&nbsp;</a>to join.</p>
    <p>We also maintain a <a href="https://calendar.google.com/calendar/u/1?cid=Y29ybmVsbHd1c2h1QGdtYWlsLmNvbQ">Google
            Calendar</a> which you can install to stay updated with all the future events, practices,
        and
        performances. <br />
    </p>
    <p><span style="color:#B22222;"><span style="font-size:large;"><strong>Links to Socials and Google
                    Calendar</strong></span></span></p>

    <p><a href="https://www.facebook.com/cornellwushuclub/"><img src="cid:facebook" alt="facebook"
                style="height: 25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://www.instagram.com/cornellwushu/?hl=en"><img src="cid:instagram" alt="instagram"
                style="height: 25px; width: 25px;" /></a>&nbsp; &nbsp; <a
            href="https://www.youtube.com/user/CornellWushu"><img src="cid:youtube" alt="youtube"
                style="height: 28px; width: 28px;padding-top: 1px;" /></a>&nbsp; &nbsp; <a
            href="https://cornellwushu.wordpress.com/"><img src="cid:website" alt="official website"
                style="height:30px; width: 30px;" /></a>&nbsp; &nbsp; <a
            href="https://calendar.google.com/calendar/u/1?cid=Y29ybmVsbHd1c2h1QGdtYWlsLmNvbQ"><img
                src="cid:google-calendar" style="height: 25px; width: 25px;"
                alt="calendar for all our upcoming events" /></a></p>

    <hr />
    <p>Reply "leave" to be removed from the listserv. If you have any questions, feel free to contact us at&nbsp;<a
            href="mailto:cornellwushu@gmail.com" target="_blank">cornellwushu@gmail.com</a>, our public Facebook group,
        or just message me on Facebook. I hope you all have a relaxing and fun weekend!</p>

    <p>
        See you all soon,<br />
        Pratyush Sudhakar<br />
        Cornell Wushu Secretary
    </p>
    <div style="display: block; align-items: center;align-content: center;align-items: center;">
        <img src="cid:gif"
            style="height: 100px; width: 100px;margin-top: auto;margin-bottom: 3px;align-self: center;" />
        <h1
            style="color:#B22222; align-self: center; margin-top: auto;margin-bottom: auto;font-family: 'Fira Sans'; font-size: xx-large;padding-top: 2px;">
            Cornell Wushu</h1>
    </div>
</body>

</html>